<section class="port_section" id="about_page">
    <div id="about_title_container">
        <h1 id="about_title">ABOUT ME</h1>
        <div id="about_line"></div>
    </div>
    <div id="about_container">
        <div id="about_info">
            <div id="about_intro">
                <span class="small_text">Get to know me the person behind the code</span>
                <h3>Hey, I'm <span class="yellow_highlight">David</span>. Nice to meet you!</h3>
            </div>
            <div id="about_info_text">
                <p>Hi, I'm David, a passionate web developer with a love for creating dynamic and user-friendly websites.  </p>  
                <p> With a background in computer science and a keen eye for design, I strive to build engaging online experiences that captivate users and drive results.  </p>  
                <p>Whether it's crafting responsive layouts, optimizing performance, or implementing innovative features, I am dedicated to delivering high-quality web solutions that exceed expectations.</p>
                
            </div>
            <div id="about_remarks">
                <a href="https://maps.app.goo.gl/E4MgVv8Kfgm6yEuy5" class="about_remarks_container" id="location_link" target="_blank">
                    <div class="remarks_icon_container">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="remarks_text_container" >
                        <p>CURRENTLY<br> BASED IN:</p>
                        <h3>Valencia,<br> Spain</h3>
                    </div>
                </a>
                <div class="about_remarks_container">
                    <div class="remarks_icon_container">
                        <i class="fas fa-briefcase"></i>
                    </div>
                    <div class="remarks_text_container">
                        <p>YEARS OF <br>EXPERIENCE:</p>
                        <h3>1+</h3>
                    </div>
                </div>
                <div class="about_remarks_container">
                    <div class="remarks_icon_container">
                        <i class="fas fa-laptop-code"></i>
                    </div>
                    <div class="remarks_text_container">
                        <p>TECH <br>MASTERED:</p>
                        <h3>10+</h3>
                    </div>
                </div>
            </div>
        </div>
        <div id="about_img">
            <div id="about_img_container">
                <img id="about_img" src="/images/DavidFoto.png" alt="My picture">
                <div id="about_shadow"></div>
            </div>
        </div>
    </div>
</section>