<div class="port_section" id="contact_page">
    <div class="title_container"> 
        <h1>CONTACT ME</h1>
    </div>
    <div id="contact_container">
        <p>
            Here is how to contact me
        </p>
    </div>
</div>