<div id="home_page" >
    
    <div id="dec_circle"></div>
    <div id="name_title">
        <h1 id="first_name">DAVID</h1>
        <h1 id="second_name">VILLAPLANA</h1>
    </div>

    <div id="middle_title">
        <h3 class="animate__animated animate__fadeInUp d_twohalfquart">WEB DEVELOPER & DESIGNER</h3>
        <span class="animate__animated animate__fadeInUp d_three italic" >Crafting ideas into functional and engaging web experiences.</span>
    </div>

    <div id="home_widgets" >
        <div id="left_widget">
            <div class="square_button animate__animated animate__bounceIn d_threehalf">
                <div class="rotating_border">
                    <a class="inner_box" target="_blank" rel="noopener noreferrer" href="https://github.com/Dvil23">
                        <i class="fa-brands fa-github"></i>
                    </a>
                </div>
            </div>
            <div class="square_button animate__animated animate__bounceIn d_threehalf">
                <div class="rotating_border">
                    <a class="inner_box" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/david-villaplana-gonzalez-382694302/">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                </div>
            </div>

        </div>
        <div id="right_widget">
            <a class="rectangle_button animate__animated animate__bounceIn d_threehalf" href="/resume/CV David Villaplana 2025 English.pdf" download>
                <p>GET RESUME</p>
                <i class="fa-solid fa-download"></i>
            </a>
            
        </div>
    </div>
</div>