<div class="port_section" id="projects_page">
    <div class="title_container"> 
        <h1>PROJECTS</h1>
    </div>
    <div id="projects_container">
        <p>
            Here are some of my projects: Project 1, Project 2, Project 3
        </p>
    </div>
</div>