<section class="port_section" id="skills_page">
    <div class="title_container" id="skills_title_container"> 
        <h1>MY SKILLS & TOOLS</h1>
    </div>
    <div id="skills_container">
        <div class="skills_scroll">
            <div class="skill_item" id="skill-1">
                <div class="skill_title">
                    <h1>PRODUCT DESIGN (UI/UIX)</h1>
                </div>
                <div class="skill_content">
                    <p>Aqui va todo sobre como lo diseño en figma, hago responsive, un diseño limpio y moderno con tematica propuesta y un diseño que se centra en el usuario.Lorem Ipsum is simply dummy text of  the printing and typesetting industry. Lorem  Ipsum has been the industry's standard dummy text ever since  the 1500s, when an unknown printer took a galley  of type and  scrambled it to make a type specimen book. </p>
                </div>
                <div class="skill_remarks">
                    <h3>FIGMA | RESPONSIVE | WIREFRAMES</h3>
                </div>
            </div>

            <div class="skill_item" id="skill-2">
                <div class="skill_title">
                    <h1>FRONTEND DEVELOPMENT</h1>
                </div>
                <div class="skill_content">
                    <p>Aqui va todo sobre como lo diseño en figma, hago responsive, un diseño limpio y moderno con tematica propuesta y un diseño que se centra en el usuario.Lorem Ipsum is simply dummy text of  the printing and typesetting industry. Lorem  Ipsum has been the industry's standard dummy text ever since  the 1500s, when an unknown printer took a galley  of type and  scrambled it to make a type specimen book. </p>
                </div>
                <div class="skill_remarks">
                    <h3>HTML | CSS/SASS | Javascript/Typescript | Vue</h3>
                </div>
            </div>

            <div class="skill_item" id="skill-3">
                <div class="skill_title">
                    <h1>BACKEND & APP LOGIC</h1>
                </div>
                <div class="skill_content">
                    <p>Aqui va todo sobre como lo diseño en figma, hago responsive, un diseño limpio y moderno con tematica propuesta y un diseño que se centra en el usuario.Lorem Ipsum is simply dummy text of  the printing and typesetting industry. Lorem  Ipsum has been the industry's standard dummy text ever since  the 1500s, when an unknown printer took a galley  of type and  scrambled it to make a type specimen book. </p>
                </div>
                <div class="skill_remarks">
                    <h3>Node.JS | Express.JS | Rest APIs | Angular</h3>
                </div>
            </div>

            <div class="skill_item" id="skill-4">
                <div class="skill_title">
                    <h1>DEPLOYMENT & DATABASES</h1>
                </div>
                <div class="skill_content">
                    <p>Aqui va todo sobre como lo diseño en figma, hago responsive, un diseño limpio y moderno con tematica propuesta y un diseño que se centra en el usuario.Lorem Ipsum is simply dummy text of  the printing and typesetting industry. Lorem  Ipsum has been the industry's standard dummy text ever since  the 1500s, when an unknown printer took a galley  of type and  scrambled it to make a type specimen book. </p>
                </div>
                <div class="skill_remarks">
                    <h3>AWS | SQL | Mysql/MariaDB</h3>
                </div>
            </div>
        </div>
    </div>
</section>