<%- include("partials/start.ejs") -%>

<div id="page">
    <div id="home_page">
        <h1>DAVID VILLAPLANA GONZALEZ</h1>
    </div>
    <div id="about_page">
        <h1 id="about_title">ABOUT ME</h1>
        <div id="about_line"></div>
        <div id="about_container">
            <p>
                I am a software developer with a passion for creating innovative solutions to complex problems
            </p>
        </div>
    </div>
    <div id="skills_page">
        <h1 id="skills_title">Skills</h1>
        <div id="skills_container">
            <p>
                This are my skills: JavaScript, Python, HTML, CSS, React, Node.js, Express, MongoDB, SQL, Git, Docker
            </p>
        </div>
    </div>
</div>

<div id="floating_circle"></div>

<script src="/javascripts/move_about_title.js"></script>

<%- include("partials/end.ejs") -%>