<%- include("partials/start.ejs") -%>

<div id="page">

    <div id="home_page">
        <h1>DAVID VILLAPLANA GONZALEZ</h1>
    </div>

    <div class="port_section" id="about_page">
        <div id="about_title_container">
            <h1 id="about_title">ABOUT ME</h1>
            <div id="about_line"></div>
        </div>
        <div id="about_container">
            <p>
                I am a software developer with a passion for creating innovative solutions to complex problems
            </p>
        </div>
    </div>
    


    <section class="port_section" id="skills_page">
        <div class="title_container" id="skills_title_container"> 
            <h1>MY SKILLS & TOOLS</h1>
        </div>
        <div id="skills_container">
            <div class="skills_scroll">
                <div class="skill_item" id="skill-1">JavaScript</div>
                <div class="skill_item" id="skill-2">Angular</div>
                <div class="skill_item" id="skill-3">Vue.js</div>
                <div class="skill_item" id="skill-4">Node.js</div>
            </div>
        </div>
    </section>

    <div class="port_section" id="projects_page">
        <div class="title_container"> 
            <h1>PROJECTS</h1>
        </div>
        <div id="projects_container">
            <p>
                Here are some of my projects: Project 1, Project 2, Project 3
            </p>
        </div>
    </div>
    
</div>

<script src="/javascripts/move_about_title.js"></script>

<script>

gsap.registerPlugin(ScrollTrigger)

let skills = gsap.utils.toArray('.skill_item')
// let totalMove = skills.length * 50 

let tl = gsap.timeline({
  scrollTrigger: {
    trigger: '#skills_page',
    start: 'top top',
    end: () => '+=' + (window.innerHeight * skills.length),
    scrub: true,
    pin: true,
    anticipatePin: 1
  }
})



skills.forEach((skill, i) => {
  tl.to(skill, {
    top: () => (i*6) + 'vh',
    ease: 'none'
  })
})


</script>
<%- include("partials/end.ejs") -%>