#page #about_page {
  padding-bottom: 0vh;
  position: relative;
  height: auto;
  min-height: auto;
}
#page #about_page #about_title_container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
}
#page #about_page #about_title_container #about_title {
  margin-top: 0;
  --element-width: 85vw;
  width: var(--element-width);
  line-height: 1;
  transform-origin: center top;
  font-size: calc(var(--element-width) / 5);
  text-align: center;
  max-width: 100%;
}
#page #about_page #about_title_container #about_line {
  height: 4px;
  width: 0%;
  background-color: white;
  margin-top: 20px;
  max-width: 100%;
}
#page #about_page #about_container {
  width: 85%;
  text-align: center;
  font-size: 1.2rem;
  height: auto;
  margin-top: 2vh;
  min-height: 75vh;
  scroll-margin: 22vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#page #about_page #about_container #about_info {
  width: 520px;
  maxwidth: 55%;
  height: 80%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#page #about_page #about_container #about_info #about_intro {
  width: 100%;
  margin-bottom: 2vh;
  margin-bottom: auto;
}
#page #about_page #about_container #about_info #about_intro #image_responsive_container {
  display: none;
}
#page #about_page #about_container #about_info #about_intro #about_intro_text {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}
#page #about_page #about_container #about_info #about_intro #about_intro_text h3 {
  display: flex;
  align-items: center;
  font-size: xx-large;
  margin-top: 1vh;
  color: var(--color-gray-2);
}
#page #about_page #about_container #about_info #about_intro #about_intro_text .yellow_highlight {
  margin-left: 0.6vw;
  display: flex;
  align-items: center;
}
#page #about_page #about_container #about_info #about_info_text {
  margin-bottom: 2vh;
  padding-bottom: 1vh;
  position: relative;
}
#page #about_page #about_container #about_info #about_info_text #about_info_text_border {
  width: 4px;
  height: 100%;
  background: linear-gradient(to top, #4f038e, #870088, #c02874, #e94e60, #ff843e, #ffc607);
  background: var(--color-gray-3);
  opacity: 80%;
  margin-bottom: 2vh;
  position: absolute;
  left: 0;
  border-radius: 100px;
}
#page #about_page #about_container #about_info #about_info_text p {
  font-size: medium;
  margin-left: 2vw;
  margin-top: 1vw;
  font-weight: 500;
  color: var(--color-gray-3);
}
#page #about_page #about_container #about_info #about_remarks {
  margin-top: auto;
  display: grid;
  grid-template: repeat(3, auto)/repeat(3, 1fr);
  gap: 1vw;
}
#page #about_page #about_container #about_info #about_remarks > .about_remarks_wrapper {
  position: relative;
  border-radius: 15px;
  padding: 2px;
  display: flex;
  width: 95%;
  justify-content: center;
  z-index: 0;
  transition: 0.5s ease;
  cursor: pointer;
}
#page #about_page #about_container #about_info #about_remarks > .about_remarks_wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding: 2px;
  z-index: -1;
  transition: 0.5s ease;
}
#page #about_page #about_container #about_info #about_remarks > .about_remarks_wrapper:nth-child(1)::before {
  background: linear-gradient(to right, var(--color-purple), var(--color-magenta));
}
#page #about_page #about_container #about_info #about_remarks > .about_remarks_wrapper:nth-child(2)::before {
  background: linear-gradient(to right, var(--color-red), var(--color-salmon));
}
#page #about_page #about_container #about_info #about_remarks > .about_remarks_wrapper:nth-child(3)::before {
  background: linear-gradient(to right, var(--color-orange), var(--color-bright-yellow));
}
#page #about_page #about_container #about_info #about_remarks > .about_remarks_wrapper:hover::before {
  filter: brightness(1.2);
}
#page #about_page #about_container #about_info #about_remarks > .about_remarks_wrapper:hover:nth-child(1)::before {
  box-shadow: 0 0 10px var(--color-magenta);
}
#page #about_page #about_container #about_info #about_remarks > .about_remarks_wrapper:hover:nth-child(2)::before {
  box-shadow: 0 0 10px var(--color-salmon);
}
#page #about_page #about_container #about_info #about_remarks > .about_remarks_wrapper:hover:nth-child(3)::before {
  box-shadow: 0 0 10px var(--color-bright-yellow);
}
#page #about_page #about_container #about_info #about_remarks > .about_remarks_wrapper .about_remarks_container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  border-radius: 15px;
  padding-top: 1vh;
  padding-bottom: 1vh;
  background-color: var(--color-background-black);
}
#page #about_page #about_container #about_info #about_remarks > .about_remarks_wrapper .remarks_icon_container {
  width: 20%;
  font-size: 40px;
  color: var(--color-gray-1);
}
#page #about_page #about_container #about_info #about_remarks > .about_remarks_wrapper .remarks_icon_container i {
  width: auto;
}
#page #about_page #about_container #about_info #about_remarks > .about_remarks_wrapper .remarks_text_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#page #about_page #about_container #about_info #about_remarks > .about_remarks_wrapper .remarks_text_container p {
  font-size: small;
  text-align: center;
  display: inline;
  color: var(--color-gray-5);
}
#page #about_page #about_container #about_info #about_remarks > .about_remarks_wrapper .remarks_text_container h3, #page #about_page #about_container #about_info #about_remarks > .about_remarks_wrapper .remarks_text_container h4 {
  width: auto;
  font-size: xx-large;
}
#page #about_page #about_container #about_info #about_remarks > .about_remarks_wrapper .remarks_text_container h4 {
  font-size: large;
  text-align: center;
}
#page #about_page #about_container #about_info #about_remarks #location_link {
  text-decoration: none;
  cursor: pointer;
}
#page #about_page #about_container #about_info #about_remarks #location_link i {
  margin-top: 2vh;
}
#page #about_page #about_container #about_img {
  width: 45%;
  height: 100%;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
  position: relative;
}
#page #about_page #about_container #about_img #about_img_container {
  width: 80%;
  height: 80%;
  perspective: 800px;
}
#page #about_page #about_container #about_img #about_img_container img {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform-style: preserve-3d;
}
#page #about_page #about_container #about_img #about_shadow {
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  margin: auto;
  width: 105%;
  height: 20px;
  background: radial-gradient(ellipse at center, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.295) 100%);
  border-radius: 50%;
  filter: blur(10px);
  opacity: 1;
  z-index: 1;
}
#page #about_page #about_container #about_remarks_responsive {
  display: none;
}

@media (max-width: 1000px) {
  #page #about_page #about_container #about_img {
    width: 45%;
    height: 50%;
    min-height: 50vh;
    justify-content: flex-end;
  }
  #page #about_page #about_container #about_info {
    width: 55%;
  }
  #page #about_page #about_container #about_info #about_intro #about_intro_text {
    flex-direction: row;
  }
  #page #about_page #about_container #about_info #about_intro #about_intro_text h3 {
    margin-top: 0;
    font-size: 29px;
  }
  #page #about_page #about_container #about_info #about_intro .small_text {
    font-size: 17px;
  }
  #page #about_page #about_container #about_info #about_remarks .about_remarks_wrapper {
    height: 100%;
  }
  #page #about_page #about_container #about_info #about_remarks .about_remarks_wrapper .remarks_text_container h4 {
    font-size: medium !important;
  }
  #page #about_page #about_container #about_info #about_remarks .about_remarks_wrapper .remarks_icon_container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 0;
  }
  #page #about_page #about_container #about_info #about_remarks .about_remarks_wrapper .remarks_icon_container i {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0 !important;
    font-size: 20px;
  }
}
@media (max-width: 800px) {
  #page #about_page #about_container {
    flex-direction: column;
    height: auto;
    gap: 5vh;
    max-width: 90%;
  }
  #page #about_page #about_container #about_info {
    width: 100%;
    align-items: center;
    margin-left: 0vh;
  }
  #page #about_page #about_container #about_info .small_text {
    margin-top: 2vh;
  }
  #page #about_page #about_container #about_info #about_intro {
    margin-top: 2vh;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: space-between;
  }
  #page #about_page #about_container #about_info #about_intro #about_intro_container {
    display: flex;
    flex-direction: column;
    gap: 0vh;
    height: auto;
    justify-content: center;
  }
  #page #about_page #about_container #about_info #about_intro #about_intro_container .small_text {
    display: none;
  }
  #page #about_page #about_container #about_info #about_intro #about_intro_container #about_intro_text {
    flex-direction: column;
    gap: 0;
    margin-top: 0vh;
    margin-bottom: 0vh;
    width: 100%;
  }
  #page #about_page #about_container #about_info #about_intro #about_intro_container #about_intro_text .yellow_highlight {
    margin-left: 1vw;
  }
  #page #about_page #about_container #about_info #about_intro #about_intro_container #about_intro_text h3 {
    font-size: min(7.7vw, 70px);
    display: flex;
    width: auto;
  }
  #page #about_page #about_container #about_info #about_intro #image_responsive_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
  }
  #page #about_page #about_container #about_info #about_intro #image_responsive_container img {
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #page #about_page #about_container #about_info #about_info_text {
    width: 100%;
    margin-top: 2vh;
    padding-bottom: 0vh;
    margin-bottom: 0vh;
    border: 2px solid var(--color-gray-5);
    border-radius: 12px;
    padding: 2vh 4vw 2vh 4vw;
  }
  #page #about_page #about_container #about_info #about_info_text .left_border {
    display: none;
  }
  #page #about_page #about_container #about_info #about_info_text p {
    margin: 0;
    font-weight: 500;
    font-size: medium;
    color: var(--color-gray-1);
  }
  #page #about_page #about_container #about_info #about_remarks {
    flex-direction: column;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #page #about_page #about_container #about_info #about_remarks .about_remarks_wrapper {
    width: 100%;
    margin-top: 2vh;
  }
  #page #about_page #about_container #about_info #about_remarks .about_remarks_wrapper .remarks_text_container {
    width: 75%;
    align-items: center;
    flex-direction: row;
  }
  #page #about_page #about_container #about_info #about_remarks .about_remarks_wrapper .remarks_text_container p {
    width: 50%;
    font-weight: 300;
    color: var(--color-gray-3);
  }
  #page #about_page #about_container #about_info #about_remarks .about_remarks_wrapper .remarks_text_container h4 {
    width: 50%;
    font-size: medium !important;
  }
  #page #about_page #about_container #about_info #about_remarks .about_remarks_wrapper .remarks_text_container h3 {
    width: 50%;
    text-align: center;
  }
  #page #about_page #about_container #about_info #about_remarks .about_remarks_wrapper .remarks_icon_container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 0;
  }
  #page #about_page #about_container #about_info #about_remarks .about_remarks_wrapper .remarks_icon_container i {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0 !important;
    font-size: 30px;
  }
  #page #about_page #about_container #about_img {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
  }
  #page #about_page #about_container #about_img #about_img_container {
    width: 60%;
    height: auto;
  }
  #page #about_page #about_container #about_img #about_img_container #about_img {
    margin-bottom: 2vh;
  }
  #page #about_page #about_container #about_img #about_img_container #about_shadow {
    margin-bottom: 2vh;
  }
  #page #about_page #about_container #about_img #about_remarks_responsive {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 1vw;
    margin-top: 3vh;
    min-width: 60%;
    width: auto;
  }
  #page #about_page #about_container #about_img #about_remarks_responsive .about_remarks_container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid var(--color-gray-5);
    margin-top: 1vh;
    padding-bottom: 1vh;
  }
  #page #about_page #about_container #about_img #about_remarks_responsive .about_remarks_container .remarks_icon_container {
    width: auto;
    font-size: 40px;
    color: var(--color-gray-1);
    margin-top: 1vh;
  }
  #page #about_page #about_container #about_img #about_remarks_responsive .about_remarks_container .remarks_text_container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #page #about_page #about_container #about_img #about_remarks_responsive .about_remarks_container .remarks_text_container br {
    display: none;
  }
  #page #about_page #about_container #about_img #about_remarks_responsive .about_remarks_container .remarks_text_container p {
    width: 100%;
    font-size: small;
    text-align: center;
    display: inline;
    color: var(--color-gray-5);
  }
  #page #about_page #about_container #about_img #about_remarks_responsive .about_remarks_container .remarks_text_container h3 {
    margin-top: 1vh;
    width: 100%;
    font-size: xx-large;
    color: var(--color-yellow);
  }
  #page #about_page #about_container #about_img #about_remarks_responsive #location_link {
    text-decoration: none;
    cursor: pointer;
  }
  #page #about_page #about_container #about_img #about_remarks_responsive #location_link i {
    margin-top: 2vh;
  }
}/*# sourceMappingURL=about_style.css.map */