#page #about_page {
  background: var(--color-back-black);
  position: relative;
  height: auto;
  min-height: auto;
}
#page #about_page #about_title_container {
  height: 80vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
}
#page #about_page #about_title_container #about_title {
  margin-top: 0;
  --element-width: 85vw;
  width: var(--element-width);
  line-height: 1;
  transform-origin: center top;
  font-size: calc(var(--element-width) / 5);
  text-align: center;
  max-width: 100%;
}
#page #about_page #about_title_container #about_line {
  height: 4px;
  width: 0%;
  background-color: white;
  margin-top: 20px;
  max-width: 100%;
}
#page #about_page #about_container {
  width: 85%;
  text-align: center;
  font-size: 1.2rem;
  height: 75vh;
  scroll-margin: 22vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#page #about_page #about_container #about_info {
  margin-left: 5%;
  width: 50%;
  height: 80%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#page #about_page #about_container #about_info #about_intro {
  width: 100%;
  margin-bottom: 2vh;
  margin-bottom: auto;
}
#page #about_page #about_container #about_info #about_intro h3 {
  font-size: xx-large;
  margin-top: 1vh;
}
#page #about_page #about_container #about_info #about_info_text {
  border-left: 1px solid red;
  margin-bottom: 2vh;
  padding-bottom: 1vh;
}
#page #about_page #about_container #about_info #about_info_text p {
  margin-left: 2vw;
  margin-top: 1vw;
  font-weight: 500;
  color: var(--color-gray);
}
#page #about_page #about_container #about_info #about_remarks {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1vw;
}
#page #about_page #about_container #about_info #about_remarks .about_remarks_container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32%;
  border-right: 1px solid var(--color-white-gray);
}
#page #about_page #about_container #about_info #about_remarks .about_remarks_container .remarks_icon_container {
  width: 20%;
  font-size: 40px;
  color: var(--color-gray);
  margin-top: 1vh;
}
#page #about_page #about_container #about_info #about_remarks .about_remarks_container .remarks_text_container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#page #about_page #about_container #about_info #about_remarks .about_remarks_container .remarks_text_container p {
  font-size: small;
  text-align: center;
  display: inline;
  color: var(--color-white-gray);
}
#page #about_page #about_container #about_info #about_remarks .about_remarks_container .remarks_text_container h3 {
  margin-top: 1vh;
  width: auto;
  font-size: xx-large;
  color: var(--color-yellow);
}
#page #about_page #about_container #about_info #about_remarks #location_link {
  text-decoration: none;
  cursor: pointer;
}
#page #about_page #about_container #about_info #about_remarks #location_link i {
  margin-top: 2vh;
}
#page #about_page #about_container #about_img {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
  position: relative;
}
#page #about_page #about_container #about_img #about_img_container {
  width: 80%;
  height: 80%;
  perspective: 800px;
}
#page #about_page #about_container #about_img #about_img_container img {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform-style: preserve-3d;
}
#page #about_page #about_container #about_img #about_shadow {
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  margin: auto;
  width: 105%;
  height: 20px;
  background: radial-gradient(ellipse at center, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.295) 100%);
  border-radius: 50%;
  filter: blur(10px);
  opacity: 1;
  z-index: 1;
}/*# sourceMappingURL=about_style.css.map */