:root {
  --color-yellow: #e1970e;
  --color-background-black: #1a1823;
  --color-white: #eeeeee;
  --main-gradient: #4f038e, #870088, #c02874, #e94e60, #ff843e, #ffc607;
  --color-purple: #4f038e;
  --color-magenta: #870088;
  --color-red: #c02874;
  --color-salmon: #e94e60;
  --color-orange: #ff843e;
  --color-bright-yellow: #ffc607;
  --color-dark-purple: #1F0138;
  --color-light-purple: #7314c0;
  --color-dark-magenta: #170017;
  --color-dark-red: #17040D;
  --color-dark-salmon: #170709;
  --color-dark-orange: #170B05;
  --color-dark-yellow: #171100;
  --color-pink-accent: #940694;
  --color-yellow-accent: #e1970e;
  --color-violet: #E63F3E;
  --filler-gray: #1d1b1d;
  --filler-white: #8f8f8f;
  --filler-purple: #302c41;
  --filler-dark-purple: #23202e;
  --filler-light-purple: #4e4869;
  --filler-very-light-purple: #baa3e4;
  --filler-light-purple-white: #dbd6e7;
  --color-gray-1: #dfdfdf;
  --color-gray-2: #cfcfcf;
  --color-gray-3: #c5c5c5;
  --color-gray-5: #9c9c9c;
  --color-nodejs: #73AC62;
  --color-sass: #CE679A;
  --color-blue: #005E86;
  --color-javascript: #D4B830;
  --color-sql: #005E86;
}

.pink_accent {
  color: var(--color-pink-accent);
}

.yellow_accent {
  color: var(--color-yellow-accent);
}

.violet_accent {
  color: var(--color-violet);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: red;
}

h1, h2, p, a, h3, span, li {
  color: var(--color-white);
}

h1 {
  font-family: "Passion One", sans-serif;
  font-weight: 700;
}

h3 {
  font-family: "Passion One", sans-serif;
  font-weight: 400;
}

p, a, span {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  line-height: 1.4;
}

@keyframes rotate_gradient {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.d_two {
  animation-delay: 2s;
}

.d_twohalf {
  animation-delay: 2.5s;
}

.d_twohalfquart {
  animation-delay: 2.75s;
}

.d_three {
  animation-delay: 3s;
}

.d_threehalf {
  animation-delay: 3.5s;
}

#page {
  width: 100%;
  position: relative;
  background-color: var(--color-background-black);
}
#page .yellow_highlight {
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  color: var(--color-yellow);
}
#page .small_text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: var(--color-gray-5);
  font-size: medium;
}
#page .italic {
  font-style: italic;
}
#page .rectangle_button {
  width: auto;
  height: 100%;
  padding: 0.8vh 1.5vw;
  border: 2px solid var(--color-white);
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 0.6vw;
  white-space: nowrap;
  background: var(--color-background-black);
  color: var(--color-white);
  cursor: pointer;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}
#page .rectangle_button p, #page .rectangle_button i {
  margin: 0;
  position: relative;
  z-index: 2;
}
#page .rectangle_button::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(0deg, transparent, transparent 30%, rgba(255, 255, 255, 0.3));
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}
#page .rectangle_button:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 11px 5px rgba(0, 0, 0, 0.2470588235);
}
#page .rectangle_button:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}
#page .square_button {
  height: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  transition: 0.5s ease;
}
#page .square_button:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 11px 5px rgba(0, 0, 0, 0.2470588235);
}
#page .square_button .rotating_border {
  height: 100%;
  aspect-ratio: 1/1;
  background-color: var(--color-white);
  position: relative;
  border-radius: 10px;
  animation: 0.1s ease;
}
#page .square_button .rotating_border::before {
  content: "";
  position: absolute;
  top: -25%;
  left: -25%;
  width: 150%;
  height: 150%;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
#page .square_button .rotating_border:hover::before {
  background: linear-gradient(90deg, #4f038e, #870088, #c02874, #e94e60, #ff843e, #ffc607);
  animation: rotate_gradient 4s linear infinite;
  opacity: 1;
}
#page .square_button .rotating_border:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 11px 5px rgba(0, 0, 0, 0.2470588235);
}
#page .square_button .rotating_border .inner_box {
  height: 90%;
  aspect-ratio: 1/1;
  background-color: var(--filler-gray);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}
#page .square_button .rotating_border .inner_box i {
  font-size: 28px;
}
#page .port_section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
  box-sizing: content-box;
}
#page .port_section .title_container {
  border-bottom: 4px solid var(--filler-light-purple-white);
}
#page .port_section .title_container h1 {
  --element-width: 85vw;
  width: var(--element-width);
  line-height: 1;
  transform-origin: center top;
  font-size: calc(var(--element-width) / 5 * 0.4);
  text-align: center;
}
#page .square_info_box {
  border-radius: 12px;
  border: 2px solid var(--color-gray-5);
  display: flex;
  align-items: center;
  flex-direction: column;
}
#page .left_border {
  width: 4px;
  height: 100%;
  background: linear-gradient(to top, #4f038e, #870088, #c02874, #e94e60, #ff843e, #ffc607);
  background: var(--filler-light-purple-white);
  opacity: 40%;
  margin-bottom: 2vh;
  position: absolute;
  left: 0;
  border-radius: 100px;
}

@media (max-width: 800px) {
  #page .port_section {
    padding-top: 3vh;
    padding-bottom: 3vh;
  }
  #page .port_section .title_container h1 {
    --element-width: 90vw;
    font-size: calc(var(--element-width) / 3 * 0.4);
  }
}/*# sourceMappingURL=general_style.css.map */