:root 
    // --color-back-black: #191919
    --color-yellow: #FFC607
    --color-white-gray: #9c9c9c
    --color-gray: #dfdfdf
    // --color-background-black: #191919
    --color-back-black: #1b1b1b
    --color-white: #f5f5f5

.passion-one-regular 
    font-family: "Passion One", sans-serif
    font-weight: 400
    font-style: normal
.passion-one-bold 
    font-family: "Passion One", sans-serif
    font-weight: 700
    font-style: normal
.passion-one-black 
    font-family: "Passion One", sans-serif
    font-weight: 900
    font-style: normal

.passion-one-regular 
  font-family: "Passion One", sans-serif
  font-weight: 400
  font-style: normal


.passion-one-bold 
  font-family: "Passion One", sans-serif
  font-weight: 700
  font-style: normal


.passion-one-black 
  font-family: "Passion One", sans-serif
  font-weight: 900
  font-style: normal


*
    padding: 0
    margin: 0
    box-sizing: border-box
    cursor: red

h1,h2,p,a,h3,span,li
    color: var(--color-white)
h1
    font-family: "Passion One", sans-serif
    font-weight: 700
h3
    font-family: "Passion One", sans-serif
    font-weight: 400
p,a,span
    font-family: "Roboto", sans-serif
    font-weight: 400

@keyframes rotate_gradient
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)


.d_two
    animation-delay: 2s
.d_twohalf
    animation-delay: 2.5s
.d_twohalfquart
    animation-delay: 2.75s
.d_three
    animation-delay: 3s
.d_threehalf
    animation-delay: 3.5s
    
#page
    width: 100%
    min-height: 100vh
    position: relative
    background-color: var(--color-background-black)
    .yellow_highlight
        font-family: "Passion One", sans-serif
        font-weight: 400
        color: var(--color-yellow)
    .small_text
        font-family: "Roboto", sans-serif
        font-weight: 300
        color: var(--color-white-gray)
        font-size: medium
    .italic
        font-style: italic
    .rectangle_button
        width: auto
        height: 100%
        padding: 0.8vh 1.5vw
        border: 2px solid #FFFFFF
        border-radius: 12px
        display: flex
        align-items: center
        gap: 0.6vw
        white-space: nowrap
        background: #000 
        color: white
        cursor: pointer
        text-decoration: none
        position: relative
        overflow: hidden
        transition: all 0.5s ease

        p, i
            margin: 0
            position: relative
            z-index: 2 

        &::before
            content: ''
            position: absolute
            top: -50%
            left: -50%
            width: 200%
            height: 200%
            background: linear-gradient(
                0deg, 
                transparent, 
                transparent 30%, 
                rgba(255, 255, 255, 0.3)
            )
            transform: rotate(-45deg)
            transition: all 0.5s ease
            opacity: 0
            

        &:hover
            transform: scale(1.05)
            -webkit-box-shadow: 5px 5px 11px 5px #0000003f
            box-shadow: 5px 5px 11px 5px #0000003f

        &:hover::before
            opacity: 1
            transform: rotate(-45deg) translateY(100%)

    .square_button
        height: 100%
        aspect-ratio: 1 / 1
        overflow: hidden
        position: relative
        border-radius: 10px
        transition: 0.5s ease
        &:hover
            transform: scale(1.05)
            -webkit-box-shadow: 5px 5px 11px 5px #0000003f
            box-shadow: 5px 5px 11px 5px #0000003f
            
        .rotating_border
            height: 100%
            aspect-ratio: 1 / 1
            background-color: #fff
            position: relative
            border-radius: 10px
            animation: 0.1s ease
            &::before
                content: ''
                position: absolute
                top: -25%
                left: -25%
                width: 150%
                height: 150%
                border-radius: 50%
                opacity: 0
                transition: opacity 0.3s ease-in-out
            &:hover::before
                background: linear-gradient(90deg, #4f038e, #870088, #c02874, #e94e60, #ff843e, #ffc607)
                animation: rotate_gradient 4s linear infinite
                opacity: 1
            &:hover 
                transform: scale(1.05)
                -webkit-box-shadow: 5px 5px 11px 5px #0000003f
                box-shadow: 5px 5px 11px 5px #0000003f
            

            .inner_box
                height: 90%
                aspect-ratio: 1 / 1
                background-color: #000000
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
                border-radius: 8px
                color: #fff
                display: flex
                justify-content: center
                align-items: center
                text-align: center
                padding: 5px
                text-decoration: none
                i
                    font-size: 28px
                
        
    .port_section
        // scroll-margin-top: 10vh
        width: 100%
        min-height: 100vh
        background-color: var(--color-back-black)
        display: flex
        flex-direction: column
        align-items: center
        padding-top: 5vh
        padding-bottom: 5vh
        box-sizing: content-box
        .title_container
            border-bottom: 4px solid white
            h1
                --element-width: 85vw
                width: var(--element-width)
                line-height: 1
                transform-origin: center top
                font-size: calc(var(--element-width) / 5 *0.4)
                text-align: center

    .square_info_box        
        border-radius: 12px
        border: 2px solid white
        display: flex
        align-items: center
        flex-direction: column 
    
    
    

