:root {
  --color-back-black: #191919;
}

.passion-one-regular {
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.passion-one-bold {
  font-family: "Passion One", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.passion-one-black {
  font-family: "Passion One", sans-serif;
  font-weight: 900;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, p {
  color: white;
}

h1 {
  font-family: "Passion One", sans-serif;
  font-weight: 700;
}

#page {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-back-black);
}
#page #home_page {
  background-color: #dcf0e2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
#page .port_section {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom, #8026a3, #13c27c);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
  box-sizing: content-box;
}
#page .port_section .title_container {
  border-bottom: 4px solid white;
}
#page .port_section .title_container h1 {
  --element-width: 85vw;
  width: var(--element-width);
  line-height: 1;
  transform-origin: center top;
  font-size: calc(var(--element-width) / 5 * 0.4);
  text-align: center;
}
#page #about_page {
  position: relative;
  height: auto;
  min-height: auto;
}
#page #about_page #about_title_container {
  height: 80vh;
  border: 1px solid green;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#page #about_page #about_title_container #about_title {
  margin-top: 0;
  --element-width: 85vw;
  width: var(--element-width);
  outline: 1px solid red;
  line-height: 1;
  transform-origin: center top;
  font-size: calc(var(--element-width) / 5);
  text-align: center;
}
#page #about_page #about_title_container #about_line {
  height: 4px;
  width: 0%;
  background-color: white;
  margin-top: 20px;
}
#page #about_page #about_container {
  border: 1px solid orange;
  width: 90%;
  text-align: center;
  font-size: 1.2rem;
  height: 85vh;
  border: 1px solid blue;
}
#page #skills_page {
  height: 200vh;
  overflow: hidden;
  position: relative;
}
#page #skills_page #skills_container {
  width: 60%;
  height: 65vh;
  overflow: hidden;
  margin-top: 5vh;
  border: 1px solid red;
}
#page #skills_page #skills_container .skills_scroll {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  position: relative;
  height: 100%;
}
#page #skills_page #skills_container .skills_scroll .skill_item {
  width: 100%;
  height: 50vh;
  border-radius: 20px;
  position: absolute;
  bottom: -50vh;
}
#page #skills_page #skills_container .skills_scroll #skill-1 {
  background-color: red;
  z-index: 11;
}
#page #skills_page #skills_container .skills_scroll #skill-2 {
  background-color: orange;
  z-index: 12;
}
#page #skills_page #skills_container .skills_scroll #skill-3 {
  background-color: yellow;
  z-index: 13;
}
#page #skills_page #skills_container .skills_scroll #skill-4 {
  background-color: #13c27c;
  z-index: 14;
}/*# sourceMappingURL=general_style.css.map */