#page
    #home_page
        display: flex
        align-items: center
        // justify-content: center
        flex-direction: column
        height: 100vh
        width: 100%
        position: relative
        
        #name_title
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
            // position: absolute
            margin-top: 21vh
            
            h1
                margin: 0
                line-height: 1
                overflow: hidden
                line-height: 1
                
                display: flex
                flex-wrap: wrap
                cursor: pointer
                font-size: min(8.9vw, 110px)
                max-width: 45vw
                
                text-align: center

                span
                    font-family: "Passion One", sans-serif
                    font-weight: 700

                
        .letter
            display: inline-block
            color: white
            transition: color 0.2s

        #middle_title
            display: flex
            align-items: center
            justify-content: space-between
            flex-direction: column
            text-align: center
            height: 12vh
            margin-top: 4vh
            h3
                font-size: min(3.1vw, 47px)
                font-weight: 400
                letter-spacing: 0.1vw
                span
                    font-family: "Passion One", sans-serif
                    font-weight: 400
                    font-size: min(3.1vw, 47px)
                    font-weight: 400
                    color: transparent 
                    -webkit-text-stroke: 2px var(--color-white)  
                    -webkit-text-fill-color: transparent  

            span
                font-size: min(1.5vw, 23px)
                font-weight: 100
                
                
                
        
        #home_widgets
            display: flex
            align-items: center
            justify-content: space-between
            width: 45vw
            margin-top: 8vh
            height:7vh
            #left_widget
                width: 50%
                height: 100%
                display: flex
                justify-content: flex-end
                .square_button   
                    margin-left: 2vw 
                    background-color: var(--filler-gray)
                    
                    &:nth-child(2)
                        border: 2px solid var(--color-purple)
                        &:hover
                            border: none
                    &:nth-child(1)
                        border: 2px solid var(--color-magenta)
                        &:hover
                            border: none
                    .rotating_border
                        background-color: var(--filler-gray)
                        &:hover
                            box-shadow: 0px 0px 14px var(--color-pink-accent)
                            

                                   

            #right_widget
                width: 50%
                height: 100%
                display: flex
                text-align: end
                .rectangle_button
                    border: 2px solid var(--color-yellow)
                    background-color: var(--filler-gray)

                    &:hover
                        box-shadow: 0px 0px 14px var(--color-yellow-accent)
                    



@media(max-width: 800px)
    #page
        #home_page
            #name_title
                h1
                    font-size: min(15vw, 80px)
                    max-width: 90vw
                    height: 8vh
                    display: flex
                    align-items: flex-end
                    .letter
                        height: auto
                        max-height: auto
                        min-height: auto

            #middle_title
                height: auto
                span
                    font-size: min(4vw, 23px)
                    width: 70%
                    margin-top: 4vh
                h3
                    display: flex
                    flex-direction: column
                    align-items: center
                    span
                        font-size: min(5vw, 47px)
                        font-weight: 300
                        width: 100%
                        margin-top: 0vh
                        height: auto
                    .title_big_responsive
                        font-size: min(9vw, 55px)
            #home_widgets
                width: 90%
                display: flex
                align-items: center
                justify-content: center
                flex-direction: column
                height: auto
                margin-top: 4vh
                #right_widget
                    width: 90%
                    justify-content: center
                    align-items: center
                    height: 7vh
                    .rectangle_button
                        width: 100%
                        border-radius: 50px
                    a
                        text-align: center
                        display: flex
                        justify-content: center
                        align-items: center

                #left_widget
                    margin-top: 2vh
                    width: 80%
                    height: auto
                    justify-content: center
                    .square_button
                        width: 7vh
                        &:nth-child(2)
                            border: 2px solid var(--color-gray-3)
                        &:nth-child(1)
                            border: 2px solid var(--color-gray-3)
                        &:hover
                            border: none
                        



            
