#page #projects_page {
  min-height: 80vh;
  padding-bottom: 0vh;
}
#page #projects_page .title_container {
  margin-top: 4vh;
}
#page #projects_page #projects_container {
  height: auto;
  min-height: 73vh;
  margin-top: 5vh;
  width: 86%;
  display: flex;
  flex-direction: column;
}
#page #projects_page #projects_container .project_item {
  width: 100%;
  height: 65vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#page #projects_page #projects_container .project_item .project_info {
  width: 40%;
  height: auto;
  max-height: 65vh;
  background-color: var(--filler-dark-purple);
}
#page #projects_page #projects_container .project_item .project_info .project_image {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  border-radius: 12px;
  max-height: 35vh;
}
#page #projects_page #projects_container .project_item .project_info .project_image img {
  max-width: 90%;
  height: auto;
  max-height: 50vh;
  border-radius: 12px;
}
#page #projects_page #projects_container .project_item .project_info .project_title {
  width: 90%;
  height: auto;
  margin-top: 5%;
  font-size: larger;
  text-align: center;
}
#page #projects_page #projects_container .project_item .project_info .project_stack {
  width: 70%;
  height: auto;
  margin-top: 2vh;
  display: flex;
  gap: 1vw;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2vh;
}
#page #projects_page #projects_container .project_item .project_info .project_stack .stack_item {
  padding: 0.5vh 1vw;
  background-color: var(--filler-dark-purple);
  border: 1px solid var(--color-gray-5);
  border-radius: 8px;
  font-size: smaller;
}
#page #projects_page #projects_container .project_item .project_info .project_stack .stack_item:nth-child(1) i {
  color: var(--color-nodejs);
}
#page #projects_page #projects_container .project_item .project_info .project_stack .stack_item:nth-child(2) i {
  color: var(--color-yellow);
}
#page #projects_page #projects_container .project_item .project_info .project_stack .stack_item:nth-child(3) i {
  color: var(--color-sql);
}
#page #projects_page #projects_container .project_item .project_info .project_stack .stack_item:nth-child(4) i {
  color: var(--color-javascript);
}
#page #projects_page #projects_container .project_item .project_info .project_stack .stack_item:nth-child(5) i {
  color: var(--color-sass);
}
#page #projects_page #projects_container .project_item .project_info .project_stack .stack_item i {
  color: var(--color-gray-3);
}
#page #projects_page #projects_container .project_item .project_info .project_links {
  width: 90%;
  height: 5vh;
  margin-top: 5vh;
  text-align: center;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#page #projects_page #projects_container .project_item .project_info .project_links .project_button {
  width: 45%;
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#page #projects_page #projects_container .project_item .project_info .project_links .project_button i {
  margin-right: 5%;
}
#page #projects_page #projects_container .project_item .project_info .project_links .project_button span {
  margin-right: 10%;
}
#page #projects_page #projects_container .project_item .project_explanation {
  width: 55%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#page #projects_page #projects_container .project_item .project_explanation .explanation_header {
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1vh;
}
#page #projects_page #projects_container .project_item .project_explanation .explanation_header .explanation_type {
  display: flex;
  align-items: center;
}
#page #projects_page #projects_container .project_item .project_explanation .explanation_header .explanation_type .square_icon_blue {
  width: 3vw;
  aspect-ratio: 1;
  margin-right: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-yellow);
  border-radius: 5px;
}
#page #projects_page #projects_container .project_item .project_explanation .explanation_header .explanation_type .square_icon_blue i {
  color: var(--color-yellow);
  font-size: large;
}
#page #projects_page #projects_container .project_item .project_explanation .explanation_header .explanation_type span {
  margin-left: 0.5vw;
  color: var(--color-yellow);
}
#page #projects_page #projects_container .project_item .project_explanation .explanation_body {
  width: 90%;
  height: auto;
  margin-top: 2vh;
}
#page #projects_page #projects_container .project_item .project_explanation .explanation_body p {
  color: var(--color-gray-1);
}
#page #projects_page #projects_container .project_item .project_explanation .explanation_body p i {
  font-style: italic;
}
#page #projects_page #projects_container .project_item .project_explanation .explanation_remarks {
  width: 83%;
  height: auto;
  margin-top: 0vh;
  margin-bottom: 4vh;
}
#page #projects_page #projects_container .project_item .project_explanation .explanation_remarks li {
  margin-top: 1vh;
  color: var(--color-gray-3);
}
#page #projects_page #projects_container .project_item .project_explanation .carrousel_container {
  width: 95%;
  height: 25vh;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#page #projects_page #projects_container .project_item .project_explanation .carrousel_container .carrousel_showcase {
  width: 100%;
  height: 100%;
  position: relative;
}
#page #projects_page #projects_container .project_item .project_explanation .carrousel_container .carrousel_showcase .carrousel_item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.6);
  opacity: 0;
  transition: all 0.6s ease;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#page #projects_page #projects_container .project_item .project_explanation .carrousel_container .carrousel_showcase .carrousel_item img {
  height: 18vh;
  max-width: 70vw;
  width: auto;
  border-radius: 12px;
  transition: all 0.3s ease;
}
#page #projects_page #projects_container .project_item .project_explanation .carrousel_container .carrousel_showcase .carrousel_item span {
  margin-top: 0.5vh;
  transition: 0.25s ease;
}
#page #projects_page #projects_container .project_item .project_explanation .carrousel_container .carrousel_showcase .active {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  z-index: 3;
}
#page #projects_page #projects_container .project_item .project_explanation .carrousel_container .carrousel_showcase .active:hover img {
  height: 19vh;
}
#page #projects_page #projects_container .project_item .project_explanation .carrousel_container .carrousel_showcase .active span {
  opacity: 1;
}
#page #projects_page #projects_container .project_item .project_explanation .carrousel_container .carrousel_showcase .left {
  transform: translate(calc(20% - 25vw), -50%) scale(0.7);
  opacity: 0.6;
  z-index: 2;
  cursor: pointer;
}
#page #projects_page #projects_container .project_item .project_explanation .carrousel_container .carrousel_showcase .left span {
  opacity: 0;
}
#page #projects_page #projects_container .project_item .project_explanation .carrousel_container .carrousel_showcase .right {
  transform: translate(calc(-120% + 25vw), -50%) scale(0.7);
  opacity: 0.6;
  z-index: 2;
  cursor: pointer;
}
#page #projects_page #projects_container .project_item .project_explanation .carrousel_container .carrousel_showcase .right span {
  opacity: 0;
}
#page #projects_page #projects_container .project_item .project_explanation .project_stack {
  display: none;
}
#page #projects_page #projects_container .project_item .project_explanation .project_links {
  display: none;
}

@media (max-width: 800px) {
  #page #projects_page {
    padding-bottom: 5vh;
  }
  #page #projects_page #projects_container {
    margin-top: 4vh;
  }
  #page #projects_page #projects_container .project_item {
    flex-direction: column;
    height: auto;
  }
  #page #projects_page #projects_container .project_item .project_info {
    margin-top: 2vh;
    width: 100%;
    height: auto;
    border: none;
    gap: 0;
    justify-content: center;
    align-items: center;
  }
  #page #projects_page #projects_container .project_item .project_info .project_image {
    display: none;
  }
  #page #projects_page #projects_container .project_item .project_info .project_stack {
    display: none;
  }
  #page #projects_page #projects_container .project_item .project_info .project_links {
    display: none;
  }
  #page #projects_page #projects_container .project_item .project_info .project_title {
    margin-top: 0;
    font-size: medium;
    font-weight: 400;
    border-bottom: 1px solid white;
    width: auto;
  }
  #page #projects_page #projects_container .project_item .project_explanation {
    width: 100%;
    height: auto;
    border-left: none;
  }
  #page #projects_page #projects_container .project_item .project_explanation .left_border {
    display: none;
  }
  #page #projects_page #projects_container .project_item .project_explanation .explanation_header {
    order: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
  }
  #page #projects_page #projects_container .project_item .project_explanation .explanation_header .explanation_type .square_icon_blue {
    display: none;
  }
  #page #projects_page #projects_container .project_item .project_explanation .explanation_header .explanation_type span {
    opacity: 100%;
    color: var(--color-yellow-accent);
    font-size: small;
  }
  #page #projects_page #projects_container .project_item .project_explanation .carrousel_container {
    order: 2;
    margin-top: 2vh;
  }
  #page #projects_page #projects_container .project_item .project_explanation .carrousel_container .carrousel_showcase .left {
    transform: translate(calc(60% - 25vw), -50%) scale(0.7);
  }
  #page #projects_page #projects_container .project_item .project_explanation .carrousel_container .carrousel_showcase .right {
    transform: translate(calc(-160% + 25vw), -50%) scale(0.7);
  }
  #page #projects_page #projects_container .project_item .project_explanation .explanation_body {
    order: 3;
  }
  #page #projects_page #projects_container .project_item .project_explanation .explanation_remarks {
    order: 4;
  }
  #page #projects_page #projects_container .project_item .project_explanation .project_stack {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    order: 5;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-top: 0vh;
    margin-bottom: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
  }
  #page #projects_page #projects_container .project_item .project_explanation .project_stack .stack_item:nth-child(1) i {
    color: var(--color-nodejs);
  }
  #page #projects_page #projects_container .project_item .project_explanation .project_stack .stack_item:nth-child(2) i {
    color: var(--color-yellow);
  }
  #page #projects_page #projects_container .project_item .project_explanation .project_stack .stack_item:nth-child(3) i {
    color: var(--color-sql);
  }
  #page #projects_page #projects_container .project_item .project_explanation .project_stack .stack_item:nth-child(4) i {
    color: var(--color-javascript);
  }
  #page #projects_page #projects_container .project_item .project_explanation .project_stack .stack_item:nth-child(5) i {
    color: var(--color-sass);
  }
  #page #projects_page #projects_container .project_item .project_explanation .project_links {
    display: flex;
    order: 6;
    justify-content: space-between;
    align-items: center;
    gap: 2vh;
    height: auto;
    margin-bottom: 0;
    margin-top: 2vh;
    width: 90%;
  }
  #page #projects_page #projects_container .project_item .project_explanation .project_links .project_button {
    height: 5vh;
    width: 50%;
    border-radius: 50px;
    background-color: var(--filler-purple);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}/*# sourceMappingURL=projects_style.css.map */